/* Buttons */
.button,
.button-secondary {
    span {
        position: relative;
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
        pointer-events: auto;

        span {
            display: block;
            transition: transform 0.25s ease;
        }

        &::after {
            content: attr(data-replace);
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            transition: transform 0.25s ease;
            display: inline-block;
        }
    }

    &:hover {
        span {

            span,
            &::after {
                transform: translateY(-100%);
            }
        }
    }
}

/* Rich Text Links */
.text-rich-text {
    a {
        span {
            display: block;
            transition: transform 0.25s ease;
        }

        &::after {
            content: attr(data-replace);
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            transition: transform 0.25s ease;
            display: inline-block;
        }

        &:hover {

            span,
            &::after {
                transform: translateY(-100%);
            }
        }
    }
}