// src/client/styles/colour-cycle.less

@property --h {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

.colour-cycle {
  filter: hue-rotate(var(--h));
}

@keyframes hueClock {
  from {
    --h: 0deg;
  }

  to {
    --h: 360deg;
  }
}