// src/digerati/styles/components/small-desktop-breakpoint-fixes.less

@import '../../digerati/styles/_breakpoints.less';

@media screen and (min-width: 992px) and (max-width: 1308px) {

  .home_solutions-grid,
  .home_persuasion-grid {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1308px) {

  .home_solutions-grid .card_copy,
  .home_persuasion-grid .card_copy {
    max-width: 35ch;
  }

  .home_solutions-grid .card_heading,
  .home_persuasion-grid .card_heading {
    max-width: 20ch;
  }
}

@media screen and (min-width: 480px) and (max-width: 800px) {
  .case-study_header-grid {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    grid-template-rows: auto auto;
    grid-template-columns: 2fr;
    justify-items: start;
    width: 100%;

    .case-study_content-item.is-see-live {
      justify-self: start !important;
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1130px) {
  .footer_footnote {
    display: grid;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
  }

  .footer_copy-and-cookies {
    grid-area: 2 / 1 / 3 / 2;
    justify-content: space-between;
    align-items: center;
  }

  .footer_legal-list-wrapper {
    width: 100%;
  }

  .footer_legal-list {
    justify-content: space-between;
    align-items: center;
  }

  .footer_social-link.is-last {
    border-right-style: none;
  }

  .text-color-white.text-size-small {
    &.is-copyright {
      order: -9999;
    }
  }
}