// src/client/styles/tally.less

body {
  .no-scroll {
    overflow: hidden;
  }
}

// Tally modal “fullscreen” pseudo‐element
.tally-modal_fullscreen {

  &.is-active {
    display: block;
  }
}

// Modal overlay
.tally-modal_overlay {
  position: absolute;
  inset: 0;
  background: #2a2722;
  z-index: 900;
  opacity: 1;
  transition: opacity 0.4s ease 1.5s;
}

// Preloader base styles
.tally-modal_preloader {
  position: fixed;
  --bg: #2a2722;
  --disc-front: #ffffff;
}